!!!
%html
  %head
    %title Mpl
    = stylesheet_link_tag    "anonymous", :media => "all"
    = javascript_include_tag "anonymous"
    = csrf_meta_tags
  %body
    .container
      .span4.offset3
        = render 'partials/flash', :flash => flash
        =yield